CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	list-style-type: none;
	text-align: right;
	top: 0;
	position: sticky;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	border-style: none;

}

nav .nav, nav .nav-Logo {
	margin: 1rem;
	display: inline;

}

.nav-logo {
	float: left;


}
.righty-nav {
	float: right;
}

#bg-image {
	margin-top: 10px;
    min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-position: center;
}

.front-bg {
	background-color: rgba(0, 0, 0, .5);
	margin-top: 10px;
    min-height: 50vh;

}

.title {
	text-align: right;
	color: white;
	margin-left: 15%;
	margin-right: 10%;
	padding-top: 5px;

}

.title-2 {
    font-size: 1.5rem;
    line-height: 1.1rem;
    font-family: 'Zilla Slab';
    text-align: center;
    padding-top: 3rem;
}

.subtitle {
	text-align: right;
	color: white;
	font-size: .8rem;
	margin-left: 60%;
	margin-right: 10%;
	padding-top: 2rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	float: right;
	margin-left: 60%;
	margin-right: 10%;
	border-style: none;
}

.intro {
	text-align: center;
	padding: 10px;
	margin: 10%;

}


.title-2 {
	text-align: center;
	padding: 10px;
	margin: 5%;
}

#pre-footer {
	text-align: center;
}
.prefooter-description {
	text-align: center;
	padding: 10px;
	margin: 5%;

}

.book-button {
	color: white;
    font-weight: bold;
    background-color: #336589;
    border-radius: 25px;
    border-style: none;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
    margin: auto;
    position: center;
    display: flex;

}

#pre-footer button {
	text-align: right;


}

footer {
	text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 10rem;
    margin-bottom: .3rem;
    margin-top: 1rem;
}